#lineInfo {
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    -moz-transform: skew(-45deg, 0deg);
    -webkit-transform: skew(-45deg, 0deg);
    transform: skew(-45deg, 0deg);

}



#hoverTarget {
    border-style: dotted;
    border-color: transparent;
    border-radius: 100%;
    z-index: 10;
    position: absolute;
}

#text {
    display: inline-block;
    color: blue;
    -moz-transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    transform: skew(45deg, 0deg);
}

.hoverOver {
    border-color: transparent;
    -webkit-animation: borderDraw 1.5s;
    -moz-animation: borderDraw 1.5s;
    animation: borderDraw 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.hoverOver:hover + div {
    display: inline;
}

.hoverOver:hover {
    -webkit-animation: borderDraw 1.5s;
    -moz-animation: borderDraw 1.5s;
    animation: borderDraw 1.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.EliRing {
    height: 10vh;
    width: 10vh;
    margin-left: 65vw;
    margin-top: 27vh;
}

.lineForRing {
    z-index: 1;
    position: absolute;
    margin-left: 20vw;
    margin-top: 30vh;
    height: 3vh;
    -webkit-animation: ringDraw .5s;
    -moz-animation: ringDraw .5s;
    animation: ringDraw .5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes ringDraw {
    from {
        width:0%;
    }
    to {
        width:43vw;
    }
}

.RingInfo {
    z-index: 10;
    background-color: white;
    margin-left: 6vw;
    margin-top: 27vh;
    position: absolute;
}

.RingText {
    margin-right: 2vw;
}

@-webkit-keyframes borderDraw {
    0% {
        border-top-color: red;
        transition: width 1s ease-in-out;
        transform: rotate(90deg);
    }
    25% {
        border-top-color: red;
        transition: width 1s ease-in-out;
        transform: rotate(180deg);
    }
    50% {
        border-left-color: red;
        transition: height 1s ease-in-out;
        transform: rotate(270deg);
    }
    75% {
        border-bottom-color: red;
        transition: width 1s ease-in-out;
        transform: rotate(360deg);
    }
    99% {
        border-right-color: red;
        transition: width 1s ease-in-out;
        transform: rotate(0deg);
    }
}

.everythingRing {
    display: none;
}

.EliHead {
    height: 20vh;
    width: 20vh;
    margin-left: 68vw;
    margin-top: 1vh;
}

.lineForHead {
    z-index: -20;
    position: absolute;
    margin-left: 30vw;
    margin-top: 4vw;
    height: 3vh;
    width: 42vw;    -webkit-animation: ringDraw .5s;
    -moz-animation: ringDraw .5s;
    animation: ringDraw .5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}


.IQInfo {
    z-index: 10;
    background-color: white;
    margin-left: 10vw;
    margin-top: 4.5vw;
    position: absolute;
}

.IQText {
    margin-right: 2vw;
}

.everythingIQ {
    display: none;
}


/*
BEGINNING OF ARM
*/

.EliArm {
    height: 80px;
    width: 80px;
    margin-left: 55vw;
    margin-top: 29vh;
}

.lineForArm {
    z-index: -20;
    position: absolute;
    margin-left: 23.5vw;
    margin-top: 35vh;
    height: 3vh;
    width: 35vw;
        -webkit-animation: armDraw .5s;
    -moz-animation: armDraw .5s;
    animation: armDraw .5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes armDraw {
    from {
        width:0%;
    }
    to {
        width:35vw;
    }

}

.ArmInfo {
    z-index: 10;
    background: white;
    width: 20vw;
    margin-left: 5vw;
    margin-top: 35vh;
    position: absolute;
}

.ArmText {
    margin-right: 5vw;
}

.everythingArm {
    display: none;
}

.Eli {
    height: 100%;
    position: absolute;
    opacity: 0;
    -webkit-animation: eli 2.7s;
    -moz-animation: eli 2.7s;
    -webkit-animation-delay: 2s;
    animation: eli 2.7s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
}

@-webkit-keyframes eli {
    0% {
        left: 0px;
        opacity: 0;
    }
    100% {
        left: 55vw;
        opacity: 1;
        position: absolute;
    }
}

@-moz-keyframes eli {
    0% {
        left: 0px;
        opacity: 0;
    }
    100% {
        left: 55vw;
        opacity: 1;
        position: absolute;
    }
}

@keyframes eli {
    0% {
        left: 0px;
        opacity: 0;
    }
    100% {
        left: 55vw;
        opacity: 1;
        position: absolute;
    }
}

.EliName {
    height: 100vh;
    width: auto;
    float: right;
    position: relative;
}

.wholeScreen {
    margin: auto;
    z-index: 0;
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    filter: contrast(150%);
    background-image: url("./images/Stroke.png");
    -webkit-animation: bgStroke 1.3s ease;
    -webkit-animation-fill-mode: backwards;
    animation: bgStroke 1.3s ease;
}

@-webkit-keyframes bgStroke {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

@-moz-keyframes bgStroke {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}

@keyframes bgStroke {
    0% {
        height: 0vh;
    }
    100% {
        height: 100vh;
    }
}
